html, body {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important; }

.main-container {
  background-color: white;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  font-family: 'Montserrat', sans-serif; }
  .main-container header {
    text-align: center;
    width: 100%; }
    .main-container header div.main-header {
      width: 100%;
      margin: auto 0; }
      .main-container header div.main-header ul {
        margin: 0 auto;
        padding-left: 0;
        width: 60%;
        box-sizing: border-box;
        list-style-type: none; }
        .main-container header div.main-header ul li {
          margin: auto 0;
          display: box;
          width: 14.2857142857%;
          text-align: center;
          float: left;
          box-sizing: border-box; }
          .main-container header div.main-header ul li img {
            height: 32px;
            width: 32px; }
  .main-container .main-content ul.post-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden; }
    .main-container .main-content ul.post-list li.item {
      width: 100%;
      display: block;
      clear: both;
      height: 30px;
      line-height: 30px; }
    .main-container .main-content ul.post-list a {
      text-decoration: none;
      padding: 4px;
      border-radius: 2px;
      color: black; }
      .main-container .main-content ul.post-list a:hover {
        background-color: black;
        color: white; }
    .main-container .main-content ul.post-list div.post-title-link {
      float: left; }
    .main-container .main-content ul.post-list div.post-date {
      float: right; }
  .main-container .main-content h1, .main-container .main-content h2, .main-container .main-content h3, .main-container .main-content h4, .main-container .main-content h5, .main-container .main-content h6 {
    font-weight: 700;
    font-size: 1.25em; }
  .main-container .main-content p, .main-container .main-content li {
    line-height: 140%;
    font-weight: 200; }
  .main-container .main-content iframe {
    width: 480px;
    height: 390px;
    margin: 0 auto;
    display: block; }
  .main-container .main-content pre {
    background-color: #eaeaea;
    padding: 14px;
    margin: 30px 0;
    border-radius: 3px; }
    .main-container .main-content pre code {
      background-color: #eaeaea;
      border: none; }
  .main-container .main-content img {
    max-width: 90%;
    margin: 30px auto;
    display: block; }
  .main-container footer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px; }
    .main-container footer ul {
      margin: 0;
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      box-sizing: border-box;
      list-style-type: none;
      height: 100%; }
      .main-container footer ul li {
        margin: auto 0;
        display: block;
        width: 100%;
        text-align: center;
        float: left;
        box-sizing: border-box; }
        @media (max-width: 600px) {
          .main-container footer ul li {
            text-align: center;
            width: 50%;
            float: none;
            clear: both;
            margin: 10px auto; } }
        .main-container footer ul li a {
          padding: 4px;
          text-decoration: none;
          color: black;
          border-radius: 2px; }
          .main-container footer ul li a:hover {
            background-color: black;
            color: white; }

div.clearfix {
  clear: both; }

#munch {
  margin: 50px auto;
  display: block;
  height: auto;
  width: 100px;
  border-radius: 20%;
  transition: box-shadow 0.5s; }
  #munch:hover {
    box-shadow: 0 0 0 4px #ddd; }

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.5px; }

.icon {
  width: 40px;
  height: auto;
  transition: transform .4s ease-out;
  transform-origin: 50% 50%; }

.odd:hover {
  transform: scale(1.2) rotate(25deg); }

.even:hover {
  transform: scale(1.2) rotate(-25deg); }

.graph {
  margin: 0px auto;
  display: block;
  width: 700px;
  height: 800px; }

#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 3px 15px;
  border-radius: 12px;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  max-width: 300px; }
  #chartjs-tooltip h4 {
    color: white; }

.chartjs-tooltip-key {
  display: inline-block;
  width: 10px;
  height: 10px; }

/*# sourceMappingURL=main.css.map */
