{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/normalise.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		{% if google_analytics_tag %}
			<script>
			  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			  ga('create', 'UA-56013770-2', 'auto');
			  ga('send', 'pageview');

			</script>
		{% endif %}
		{% block custom-head-content %}{% endblock %}
	</head>
	<body>
		<div class="main-container">
			<header>
				<div class="main-header">
				{% block header-content %}{% endblock %}
				</div>
			</header>
			<hr>
			<div class="main-content">
				{% block main-content %}{% endblock %}
			</div>
			<div class="clearfix">
			</div>
			<hr>
			<footer>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="https://github.com/lambo477">GitHub</a></li>
					<li><a href="http://stackoverflow.com/users/4907767/lambo477">Stack Overflow</a></li>
					<li><a href="https://teamtreehouse.com/georgelambert">Treehouse</a></li>
					<li><a href="https://uk.linkedin.com/pub/george-lambert/30/228/b76">LinkedIn</a></li>
				</ul>
			</footer>
		</div>
		{% block custom-closing-body-script-reference %}{% endblock %}
		{% block custom-closing-body-script %}{% endblock %}
	</body>
</html>