{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/normalise.css' %}">
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		{% block custom-head-content %}{% endblock %}
	</head>
	<body>
		<div class="main-container">
			<header>
				<div class="main-header">
				{% block header-content %}{% endblock %}
				</div>
			</header>
			<hr>
			<div class="main-content">
				{% block main-content %}{% endblock %}
			</div>
			<div class="clearfix">
			</div>
			<hr>
			<footer>
				<ul>
					<li><a href="https://github.com/lambo477">GitHub</a></li>
					<li><a href="http://stackoverflow.com/users/4907767/lambo477">Stack Overflow</a></li>
					<li><a href="https://teamtreehouse.com/georgelambert">Treehouse</a></li>
					<li><a href="https://uk.linkedin.com/pub/george-lambert/30/228/b76">LinkedIn</a></li>
				</ul>
			</footer>
		</div>
		{% block custom-closing-body-script-reference %}{% endblock %}
		{% block custom-closing-body-script %}{% endblock %}
	</body>
</html>