{% extends "base.html" %}

{% block title %}Find Me | George Lambert{% endblock title %}

{% block main-content %}
<p><strong>Where: </strong>I grew up in South London, but now live in North London.</p>
<p><strong>When: </strong>I cycle back over the river each day to work at <a href="http://www.uberated.com" target="_blank">Uberated</a> at <a href="http://www.wimbletech.com" target="_blank">Wimbletech</a> as cofounder and developer</p>
<p><strong>Email: </strong>georgethomaslambert at gmail</p>
<p><strong>Phone: </strong>oh seven nine two zero eight four two eight nine five</p>
<p><strong>Get in touch if: </strong>you have interesting ideas about tech and coding.</p>

{% endblock main-content %}